.DS_Store
node_modules
/dist

# local env files
# .env*
.env.local
.env.*.local
.*.git
# Log files
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.history
*.zip
yarn.*
package-lock.json
