@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


/* 
[data-dpr="2"] .iconfont {
  font-size: 24px;
}

[data-dpr="3"] .iconfont {
  font-size: 36px;
}

[data-dpr="2"] .iconfont-small {
  font-size: 6px;
}

[data-dpr="3"] .iconfont-small {
  font-size: 8px;
} */

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

/* 常用样式 */
.m-t-80 {
  margin-top: 80px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-h-auto {
  margin-left: auto;
  margin-right: auto;
}
